PORT=4000
DATABASE_URL=neon postgresql db url
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=onemarketplace
REDIS_DB=0
NATS_URL=nats://localhost:4222
CLERK_SECRET_KEY=
IMAGEKIT_PRIVATE_KEY=
ONE_MINUTE_LOGS_API_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_CONNECTS_WEBHOOK_SECRET=
STRIPE_IDENTITY_WEBHOOK_SECRET=
DAILY_API_KEY=
DAILY_WEBHOOK_SECRET=
ADMIN_DASHBOARD_PASSWORD=
ADMIN_SESSION_SECRET=
FREELANCER_DASHBOARD=http://localhost:3001
CLIENT_DASHBOARD=http://localhost:3002
AGENCY_DASHBOARD=http://localhost:3003
